// Flower of Life

#flower-of-life {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    img.flower-of-life {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
        padding: 0;
        height: calc(100vh + 222px);
        opacity: .44;
    }
}

// Mobile
@media only screen and (max-width: 639px) {
    #flower-of-life {
        width: 251%;
        transform: translateX(-29%);

        img.flower-of-life {
            height: auto;
            width: 100%;
        }
    }
}