@-webkit-keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-out {
  opacity: 0;
  -webkit-animation-name: fadeOutOpacity;
          animation-name: fadeOutOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  min-height: 100vh;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* 
    Anchors -- For Sticky Headers
    Placed above section
    https://pixelflips.com/blog/anchor-links-with-a-fixed-header
*/
a {
  text-decoration: none;
  color: #ffffff;
}

h1, h2 {
  color: #fff;
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h1 a, h2 a {
  color: #fff;
}

h1 a:hover, h1 a:focus, h1 a:active, h2 a:hover, h2 a:focus, h2 a:active {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dashed magenta;
}

a.top {
  position: absolute;
  top: 0;
  left: 0;
}

a.back-to-top {
  color: #fff;
  display: block;
  position: fixed;
  bottom: 12px;
  right: 18px;
  font-size: 33px;
  opacity: 0;
}

a.back-to-top i {
  color: #777;
  display: block;
}

a.back-to-top:hover, a.back-to-top:focus, a.back-to-top:active {
  text-decoration: none;
}

a.back-to-top:hover i, a.back-to-top:focus i, a.back-to-top:active i {
  color: #fff;
  text-shadow: 1px 1px 15px magenta, 1px 1px 15px #ccc;
}

.wrapper {
  margin: 0 auto;
  padding: 0 53px;
}

@media only screen and (min-width: 963px) {
  .wrapper {
    padding: 0 69px;
  }
}

.container {
  margin: 0 auto;
  max-width: 963px;
}

.preloader {
  color: #fff;
  text-align: center;
}

.preloader i {
  font-size: 53px;
  text-shadow: 1px 1px 15px magenta, 1px 1px 15px #ccc;
}

.preloader small {
  display: block;
  margin-top: 12px;
}

#app.app-scroll a.back-to-top {
  opacity: 1;
}

#app.app-scroll #works > .wrapper {
  padding-right: 53px;
  padding-left: 35px;
}

@media only screen and (min-width: 963px) {
  #app.app-scroll #works > .wrapper {
    padding-left: 69px;
    padding-right: 69px;
  }
}

.hide {
  display: none;
}

.show {
  display: block;
}

.show-inline {
  display: inline-block;
}

/* The animation code */
#header {
  width: 500px;
  display: block;
  position: fixed;
  left: 0px;
  top: -22px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  text-align: left;
  text-transform: uppercase;
  z-index: 777;
  display: none;
  -webkit-transition: top left ease;
  transition: top left ease;
}

#header h1,
#header.header-top h1 {
  color: #fff;
  display: inline-block;
  font-size: 2.222rem;
  line-height: normal;
  margin: 0 11px 0 0;
  padding: 0;
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

#header p,
#header.header-top p {
  color: #fff;
  display: inline-block;
  font-size: .888rem;
  line-height: normal;
  margin: 0;
  padding: 0;
  -webkit-transition: font-size .5s;
  transition: font-size .5s;
}

#header.header-scroll {
  left: 0px;
  top: -10px;
  -webkit-transition: top left ease;
  transition: top left ease;
}

#header.header-scroll h1 {
  font-size: 1.111rem;
}

#header.header-scroll p {
  font-size: .777rem;
}

@media only screen and (min-width: 963px) {
  #header {
    left: 10px;
    top: 0px;
  }
  #header h1,
  #header.header-top h1 {
    font-size: 2.639rem;
  }
  #header p,
  #header.header-top p {
    font-size: 1.111rem;
  }
  #header.header-scroll {
    left: 8px;
    top: 0px;
  }
  #header.header-scroll h1 {
    font-size: 2.222rem;
  }
  #header.header-scroll p {
    font-size: 1.111rem;
  }
}

#footer {
  color: #fff;
  display: block;
  font-size: 0.65em;
  position: fixed;
  right: -500px;
  bottom: 15px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  text-transform: uppercase;
  text-align: left;
  width: 501px;
}

#footer span {
  display: inline-block;
  padding: 0 7px;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer a:hover, #footer a:active, #footer a:focus {
  color: magenta;
  text-decoration: underline;
}

#app.app-scroll #footer {
  bottom: 53px;
}

.stars, .twinkling, .clouds {
  position: absolute;
  position: fixed;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.stars {
  z-index: -3;
  background: #000 url("../images/stars/stars.png") repeat top center;
}

.twinkling {
  z-index: -2;
  background: transparent url("../images/stars/twinkling.png") repeat top center;
  -webkit-animation: move-twink-back 200s linear infinite;
          animation: move-twink-back 200s linear infinite;
}

@-webkit-keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@-webkit-keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}

/* Animated Starfield 
------------------------------------- */
#starfield-space, .starfield-stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.starfield-stars {
  background-image: radial-gradient(2px 2px at 20px 30px, #eee, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 40px 70px, violet, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 50px 160px, #ddd, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 90px 40px, #fff, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 130px 80px, violet, rgba(0, 0, 0, 0)), radial-gradient(2px 2px at 160px 120px, #ddd, rgba(0, 0, 0, 0));
  background-repeat: repeat;
  background-size: 200px 200px;
  -webkit-animation: zoom 5s infinite;
          animation: zoom 5s infinite;
  opacity: 0;
}

.starfield-stars:nth-child(1) {
  background-position: 50% 50%;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.starfield-stars:nth-child(2) {
  background-position: 20% 60%;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.starfield-stars:nth-child(3) {
  background-position: -20% -30%;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.starfield-stars:nth-child(4) {
  background-position: 40% -80%;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.starfield-stars:nth-child(5) {
  background-position: -20% 30%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(2.8);
            transform: scale(2.8);
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
  }
}

#moon {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px 0 0 #fff;
          box-shadow: 15px 15px 0 0 #fff;
  position: absolute;
  top: 3%;
  right: 10%;
  z-index: 0;
  position: fixed;
}

#orb {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
          box-shadow: 0 0 60px 30px #fff, 0 0 100px 60px #f0f, 0 0 140px 90px #0ff;
  /* outer cyan */
  position: absolute;
  top: 9%;
  right: 11%;
  opacity: 0.4;
  filter: alpha(opacity=40);
  z-index: 0;
  position: fixed;
}

.section {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 30px 0 50px 0;
  text-align: center;
}

.section h2 {
  font-size: 3em;
  font-weight: 300;
}

.section.crown {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec008c+0,ec008c+33,ec008c+44,ec008c+100&0+0,0.21+33,0.21+44,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(236, 0, 140, 0)), color-stop(33%, rgba(236, 0, 140, 0.15)), color-stop(44%, rgba(236, 0, 140, 0.15)), to(rgba(236, 0, 140, 0)));
  background: linear-gradient(to bottom, rgba(236, 0, 140, 0) 0%, rgba(236, 0, 140, 0.15) 33%, rgba(236, 0, 140, 0.15) 44%, rgba(236, 0, 140, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ec008c', endColorstr='#00ec008c',GradientType=0 );
  /* IE6-9 */
}

.section.crown.diagonal {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec008c+0,ec008c+33,ec008c+44,ec008c+100&0+0,0.21+33,0.21+44,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(236, 0, 140, 0) 0%, rgba(236, 0, 140, 0.21) 33%, rgba(236, 0, 140, 0.21) 44%, rgba(236, 0, 140, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ec008c', endColorstr='#00ec008c',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.section.crown.radial {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec008c+0,ec008c+88,ec008c+100&0.15+0,0+88,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(236, 0, 140, 0.15) 0%, rgba(236, 0, 140, 0) 88%, rgba(236, 0, 140, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ec008c', endColorstr='#00ec008c',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.section.crown.radial-halo {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec008c+0,ec008c+77,ec008c+100&0+0,0.21+77,0.15+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, rgba(236, 0, 140, 0) 0%, rgba(236, 0, 140, 0.21) 77%, rgba(236, 0, 140, 0.15) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ec008c', endColorstr='#26ec008c',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.section.third-eye {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#150072+0,150072+20,150072+33,150072+100&0+0,0.65+20,0.65+33,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(21, 0, 114, 0)), color-stop(33%, rgba(21, 0, 114, 0.33)), color-stop(44%, rgba(21, 0, 114, 0.33)), to(rgba(21, 0, 114, 0)));
  background: linear-gradient(to bottom, rgba(21, 0, 114, 0) 0%, rgba(21, 0, 114, 0.33) 33%, rgba(21, 0, 114, 0.33) 44%, rgba(21, 0, 114, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00150072', endColorstr='#00150072',GradientType=0 );
  /* IE6-9 */
}

.section.throat {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3953a4+0,3953a4+33,3953a4+44,3953a4+100&0+0,0.21+33,0.21+44,0+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#005ff9+0,005ff9+33,005ff9+44,005ff9+100&0+0,0.21+33,0.21+44,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 95, 249, 0)), color-stop(33%, rgba(0, 95, 249, 0.15)), color-stop(44%, rgba(0, 95, 249, 0.15)), to(rgba(0, 95, 249, 0)));
  background: linear-gradient(to bottom, rgba(0, 95, 249, 0) 0%, rgba(0, 95, 249, 0.15) 33%, rgba(0, 95, 249, 0.15) 44%, rgba(0, 95, 249, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00005ff9', endColorstr='#00005ff9',GradientType=0 );
  /* IE6-9 */
}

.section.heart {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00effc+0,000000+100&0.65+0,0+100 */
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00d2e5+0,00d2e5+20,00d2e5+33,00d2e5+100&0+0,0.65+20,0.65+33,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 210, 229, 0)), color-stop(33%, rgba(0, 210, 229, 0.15)), color-stop(44%, rgba(0, 210, 229, 0.15)), to(rgba(0, 210, 229, 0)));
  background: linear-gradient(to bottom, rgba(0, 210, 229, 0) 0%, rgba(0, 210, 229, 0.15) 33%, rgba(0, 210, 229, 0.15) 44%, rgba(0, 210, 229, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0000d2e5', endColorstr='#0000d2e5',GradientType=0 );
  /* IE6-9 */
}

.section.solar-plexus {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffff00+0,ffff00+33,ffff00+44,ffff00+100&0+0,0.21+33,0.21+44,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 0, 0)), color-stop(33%, rgba(255, 255, 0, 0.21)), color-stop(44%, rgba(255, 255, 0, 0.21)), to(rgba(255, 255, 0, 0)));
  background: linear-gradient(to bottom, rgba(255, 255, 0, 0) 0%, rgba(255, 255, 0, 0.21) 33%, rgba(255, 255, 0, 0.21) 44%, rgba(255, 255, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffff00', endColorstr='#00ffff00',GradientType=0 );
  /* IE6-9 */
}

.section.sacral {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff9900+0,ff9900+33,ff9900+44,ff9900+100&0+0,0.21+33,0.21+44,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 153, 0, 0)), color-stop(33%, rgba(255, 153, 0, 0.21)), color-stop(44%, rgba(255, 153, 0, 0.21)), to(rgba(255, 153, 0, 0)));
  background: linear-gradient(to bottom, rgba(255, 153, 0, 0) 0%, rgba(255, 153, 0, 0.21) 33%, rgba(255, 153, 0, 0.21) 44%, rgba(255, 153, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff9900', endColorstr='#00ff9900',GradientType=0 );
  /* IE6-9 */
}

.section.root {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff0000+0,ff0000+33,ff0000+44,ff0000+100&0+0,0.21+33,0.21+44,0+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 0, 0, 0)), color-stop(33%, rgba(255, 0, 0, 0.21)), color-stop(44%, rgba(255, 0, 0, 0.21)), to(rgba(255, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0) 0%, rgba(255, 0, 0, 0.21) 33%, rgba(255, 0, 0, 0.21) 44%, rgba(255, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=0 );
  /* IE6-9 */
}

#masthead {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: .5321s;
  transition: .5321s;
}

#masthead.yin {
  background: #000;
}

#masthead.yang {
  background: #fff;
}

#masthead.sticky {
  height: 80px;
}

#nav-works {
  text-align: right;
  position: fixed;
  top: 135px;
  top: 33px;
  right: 0;
  z-index: 1;
  display: none;
}

@media only screen and (min-width: 963px) {
  #nav-works {
    top: 111px;
  }
}

#nav-works.nav-works-top a {
  opacity: 0;
  -webkit-animation-name: fadeOutOpacity;
          animation-name: fadeOutOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#nav-works.nav-works-scroll a {
  opacity: 1;
  -webkit-animation-name: fadeInOpacity;
          animation-name: fadeInOpacity;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

#nav-works a {
  background-color: transparent;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #fff;
  display: block;
  padding: 6px 6px 6px 12px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

#nav-works a i {
  font-size: 24px;
  margin-right: 12px;
}

#nav-works a .label {
  display: inline-block;
  overflow: hidden;
  max-width: 0;
  margin-right: 0;
  white-space: nowrap;
  vertical-align: middle;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  font-size: .88em;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

#nav-works a .separator {
  display: inline-block;
  width: 0;
  -webkit-transition: width 0.1s;
  transition: width 0.1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

#nav-works a:focus {
  opacity: 1;
}

#nav-works a:hover, #nav-works a:focus {
  background-color: rgba(0, 0, 0, 0.8);
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
  text-decoration: none;
  text-shadow: 1px 1px 15px magenta, 1px 1px 15px #ccc;
}

#nav-works a:hover .label, #nav-works a:focus .label {
  max-width: 333px;
  padding-right: 33px;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#nav-works a:hover .separator, #nav-works a:focus .separator {
  width: 0.3em;
  -webkit-transition-delay: unset;
          transition-delay: unset;
}

.transition__five-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transition__five-bar .bar {
  background-color: white;
  position: relative;
  height: 100vh;
  width: 20%;
}

.transition__ten-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.transition__ten-bar .bar {
  background-color: white;
  position: relative;
  height: 100vh;
  width: 10%;
}

#audio-controller {
  display: table;
  position: fixed;
  bottom: 12px;
  left: 35px;
  z-index: 888;
  background-color: red;
  font-size: .9rem;
}

#audio-controller #audio-controller-icon {
  font-size: 22px;
  color: #777;
  margin-left: -22px;
}

#audio-controller .audio-controller-dialog {
  white-space: nowrap;
  opacity: 0;
  color: #777;
}

#audio-controller .audio-controller-dialog span {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 6px;
}

#audio-controller .audio-controller-dialog span b {
  font-weight: normal;
}

#audio-controller:hover #audio-controller-icon, #audio-controller:active #audio-controller-icon {
  color: #fff;
  text-shadow: 1px 1px 15px magenta, 1px 1px 15px #ccc;
}

#jukebox {
  background-color: rgba(255, 255, 255, 0.8);
  width: 353px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  left: -353px;
  bottom: 0;
  z-index: 888;
}

.hello-world {
  display: table;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.hello-world #youtube-audio {
  position: absolute;
  top: 0;
  left: 0;
}

.hello-world .chello {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: #666;
}

.hello-world .well-hello {
  font-size: 2rem;
  opacity: 0;
}

.hello-world .well-hello i {
  font-style: normal;
}

.hello-world .quote {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.81rem;
  padding-top: 11px;
}

.hello-world .quote small {
  font-size: .8rem;
}

.hello-world .follow-me {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.11rem;
  padding-top: 111px;
}

.hello-world .follow-me i {
  font-style: normal;
}

#michaels-tree {
  width: 100%;
  height: 100vh;
  opacity: 0;
}

#michaels-tree svg {
  width: 100%;
  height: 100vh;
}

.ground .ground_hump,
.ground .ground_top,
.ground .ground_middle,
.ground .ground_bottom {
  fill: #fff;
}

.roots .rooted {
  fill: #fff;
}

.tree .tree_trunk-limbs-full {
  fill: #fff;
}

.tree .tree_trunk-base {
  display: none;
}

.tree .tree_branches {
  display: none;
}

.tireswing .tireswing_full {
  display: none;
}

.tireswing .tireswing_tire,
.tireswing .tireswing_rope {
  fill: #fff;
}

.acorn .acorn_body {
  fill: #fff;
}

.acorn .acorn_belly {
  fill: #000;
}

.acorn .acorn_shadow {
  fill: #888;
}

.acorn .acorn_highlight-right {
  display: none;
  fill: #888;
}

.acorn .acorn_highlight-left {
  display: none;
  fill: #888;
}

#paper-plane {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#paper-plane #flightpath {
  overflow: hidden;
  margin-left: -10%;
}

#paper-plane #flightpath svg {
  overflow: visible;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

#paper-plane #flightpath svg path {
  stroke-width: 0;
  stroke: gray;
  fill: transparent;
}

#paper-plane #paper-plane-svg {
  position: relative;
  left: -111px;
  max-width: 5.35em;
  -webkit-filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(-3px -3px 2px rgba(255, 255, 255, 0.3)) drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(15px 15px 15px rgba(0, 0, 0, 0.2));
}

.foreground-clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.foreground-clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  opacity: 1;
  -webkit-animation: animate calc(8s * var(--i)) linear infinite;
          animation: animate calc(8s * var(--i)) linear infinite;
}

@-webkit-keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes animate {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

#sky {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5353px;
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
  background-size: 400%;
  z-index: -5;
  opacity: 0;
  -webkit-filter: blur(53px);
          filter: blur(53px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#sky.active {
  -webkit-animation: animate-sky-gradient 20s linear infinite;
          animation: animate-sky-gradient 20s linear infinite;
}

@-webkit-keyframes animate-sky-gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 353% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes animate-sky-gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 353% 0;
  }
  100% {
    background-position: 0 0;
  }
}

#flower-of-life {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#flower-of-life img.flower-of-life {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  height: calc(100vh + 222px);
  opacity: .44;
}

#ink-splash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
}

#ink-splash video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  mix-blend-mode: screen;
  opacity: 0;
}

#spiral {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -6;
}

#spiral canvas#binary-spiral {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -6;
}

#works .wrapper {
  padding-top: 33px;
  padding-bottom: 33px;
}

#works .works-icon {
  font-size: 35px;
  text-align: center;
  margin-top: -35px;
}

#works .works-icon i {
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  background: linear-gradient(21deg, black 0%, rgba(255, 0, 255, 0.69) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #f0f;
          box-shadow: 0 0 53px 1px #f0f;
  border: 3px double #fff;
  border-radius: 100%;
  padding: 12px;
}

#works .works-title {
  font-size: 1.53rem;
  font-weight: 500;
  text-align: center;
  margin-top: 12px;
}

#works .container {
  border-radius: 11px;
  border: 3px double white;
  background: linear-gradient(21deg, black 0%, rgba(255, 0, 255, 0.69) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #f0f;
          box-shadow: 0 0 53px 1px #f0f;
  margin: 0 auto;
  padding: 44px 33px;
  padding-top: 0;
  height: auto;
}

#works .works-grid img {
  background: white;
  padding: 2px;
  -webkit-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}

#works .works-grid img:hover, #works .works-grid img:focus {
  -webkit-box-shadow: 0 0 53px 1px #f0f;
          box-shadow: 0 0 53px 1px #f0f;
  border: 3px double black;
  padding: 8px;
}

#works .works-card {
  color: #fff;
}

#works .works-card h2 {
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

#works .works-card .works-card-feature {
  text-align: center;
}

#works .works-card .works-card-feature-info {
  padding: 26px 12px 12px 12px;
  text-align: left;
}

#works .works-card .works-card-feature-info h3, #works .works-card .works-card-feature-info h4, #works .works-card .works-card-feature-info h5 {
  color: #fff;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;
}

#works .works-card .works-card-feature-info p {
  color: #fff;
  text-align: left;
}

#works #works-web {
  padding-top: 35px;
}

#works #works-web .works-icon i {
  background: linear-gradient(21deg, black 0%, rgba(0, 165, 255, 0.69) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #00a5ff;
          box-shadow: 0 0 53px 1px #00a5ff;
}

#works #works-web .container {
  background: linear-gradient(21deg, black 0%, rgba(0, 165, 255, 0.69) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #00a5ff;
          box-shadow: 0 0 53px 1px #00a5ff;
}

#works #works-design {
  padding-top: 35px;
}

#works #works-design .works-icon i {
  background: linear-gradient(21deg, black 0%, rgba(0, 255, 0, 0.69) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #00ff00;
          box-shadow: 0 0 53px 1px #00ff00;
}

#works #works-design .container {
  background: linear-gradient(21deg, black 0%, rgba(0, 255, 0, 0.69) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #00ff00;
          box-shadow: 0 0 53px 1px #00ff00;
}

#works #works-design .works-grid img:hover, #works #works-design .works-grid img:focus {
  -webkit-box-shadow: 0 0 53px 1px #00ff00;
          box-shadow: 0 0 53px 1px #00ff00;
}

#works #works-drawings {
  padding-top: 35px;
}

#works #works-drawings .works-icon i {
  background: linear-gradient(21deg, black 0%, rgba(255, 255, 0, 0.8) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #ffff00;
          box-shadow: 0 0 53px 1px #ffff00;
}

#works #works-drawings .container {
  background: linear-gradient(21deg, black 0%, rgba(255, 255, 0, 0.8) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #ffff00;
          box-shadow: 0 0 53px 1px #ffff00;
}

#works #works-drawings .works-grid img:hover, #works #works-drawings .works-grid img:focus {
  -webkit-box-shadow: 0 0 53px 1px #ffff00;
          box-shadow: 0 0 53px 1px #ffff00;
}

#works #works-paintings {
  padding-top: 35px;
}

#works #works-paintings .works-icon i {
  background: linear-gradient(21deg, black 0%, rgba(255, 153, 0, 0.88) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #ff9900;
          box-shadow: 0 0 53px 1px #ff9900;
}

#works #works-paintings .container {
  background: linear-gradient(21deg, black 0%, rgba(255, 153, 0, 0.88) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #ff9900;
          box-shadow: 0 0 53px 1px #ff9900;
}

#works #works-paintings .works-grid img:hover, #works #works-paintings .works-grid img:focus {
  -webkit-box-shadow: 0 0 53px 1px #ff9900;
          box-shadow: 0 0 53px 1px #ff9900;
}

#works #works-music {
  padding-top: 35px;
}

#works #works-music .works-icon i {
  background: linear-gradient(21deg, black 0%, rgba(255, 0, 0, 0.77) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #ff0000;
          box-shadow: 0 0 53px 1px #ff0000;
}

#works #works-music .container {
  background: linear-gradient(21deg, black 0%, rgba(255, 0, 0, 0.77) 35%, black 100%);
  -webkit-box-shadow: 0 0 53px 1px #ff0000;
          box-shadow: 0 0 53px 1px #ff0000;
}

#works #works-music .works-grid img:hover, #works #works-music .works-grid img:focus {
  -webkit-box-shadow: 0 0 53px 1px #ff0000;
          box-shadow: 0 0 53px 1px #ff0000;
}

#area-contacts {
  height: auto;
  min-height: auto;
}

#area-contacts .contact-icon-buttons a {
  color: #fff;
  display: inline-block;
  padding: 11px 11px;
}

#area-contacts .contact-icon-buttons a i {
  font-size: 151%;
}

#area-contacts .contact-icon-buttons a span {
  display: inline-block;
  font-size: .88em;
  padding: 2px 0 0 0;
  vertical-align: top;
}

#area-contacts .contact-icon-buttons a:active, #area-contacts .contact-icon-buttons a:hover, #area-contacts .contact-icon-buttons a:focus {
  text-decoration: none;
  text-shadow: 1px 1px 15px magenta, 1px 1px 15px #ccc;
}
/*# sourceMappingURL=outerlooper.css.map */