@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    min-height: 100vh;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

/* 
    Anchors -- For Sticky Headers
    Placed above section
    https://pixelflips.com/blog/anchor-links-with-a-fixed-header
*/
// .anchor{
//     display: block;
//     height: 75px; //same height as header
//     margin-top: -75px; //same height as header
//     visibility: hidden;
// }

a {
    text-decoration: none;
    color: #ffffff;
}

h1, h2 {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;

    // a {
    //     color: #fff;

    //     // &:hover,
    //     // &:focus,
    //     // &:active {
    //     //     color: #fff;
    //     //     text-decoration: none;
    //     //     border-bottom: 1px dashed magenta;
    //     // }
    // }
}

a.top {
    position:absolute;
    top:0;
    left:0;
}
a.back-to-top {
    color: #fff;
    display: block; // see .app-scroll class below
    position: fixed;
    bottom:12px;
    right: 18px;
    font-size: 33px;
    opacity: 0;

    i {
        color: #777;
        display: block;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: none;

        i {
            color: #fff;
            text-shadow: 1px 1px 15px magenta, 1px 1px 15px #ccc;
        }
    }
}

.wrapper {
    margin: 0 auto;
    padding: 0 53px;

    @media only screen and (min-width: 963px) {
        padding: 0 69px;
    }
}

.container {
    margin: 0 auto;
    max-width: 963px;
}

.preloader {
    color: #fff;
    text-align: center;

    i {
        font-size: 53px;
        text-shadow: 1px 1px 15px magenta, 1px 1px 15px #ccc;
    }

    small {
        display: block;
        margin-top: 12px;
    }
}


// Adjust layout on scroll

#app {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    min-height: 100vh;

    &.app-scroll {
        a.back-to-top {
            opacity: 1;
        }
        #works > .wrapper {
            // padding-right: 53px;
            // padding-left: 35px;
            padding-left: 60px;
            padding-right: 60px;

            @media only screen and (min-width: 963px) {
                padding-left: 69px;
                padding-right: 69px;
            }
        }
    }
}

#main {
    position: relative;
}

.section {
    min-height: 100vh;
    width: 100%;
    margin: 0;
    //padding: 30px 0 50px 0;
    text-align: center;

    // h2 {
    //     font-size: 3em;
    //     font-weight: 300;
    // }
}


// utilities

.hide {
    display: none;
}

.show {
    display: block;
}

.show-inline {
    display: inline-block;
}


