*{box-sizing: border-box}

// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Condensed', sans-serif;

html {
    background: #000;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

/* 
    Anchors -- For Sticky Headers
    Placed above section
    https://pixelflips.com/blog/anchor-links-with-a-fixed-header
*/
// .anchor{
//     display: block;
//     height: 75px; //same height as header
//     margin-top: -75px; //same height as header
//     visibility: hidden;
// }

h1, h2 {
    color: #fff;
    font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;

    a {
        color: #fff;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px dashed magenta;
        }
    }
}



.wrapper {
    margin: 0 auto;
    padding: 0 53px;

    @media only screen and (min-width: 963px) {
        padding: 0 69px;
    }
}

.container {
    margin: 0 auto;
    //max-width: 1111px;
    max-width: 963px;
}

// #app {
//     margin: 0;
//     padding: 0;
//     color: #2c3e50;
//     color: #fff;
//     height: 100%;
//     width: 100%;
//     position: relative;
// }

// #nav {
//     padding: 30px;
//     display: none;

//         a {
//             font-weight: bold;
//             color: #2c3e50;

//             &.router-link-exact-active {
//                 color: #42b983;
//             }
//     }
// }

// #main {
//     text-align: center;
// }

// .pg-content-container {
//     //background: blue;
//     padding-top: 22px;
//     padding-bottom: 22px;
//     margin-left: 57px;
//     margin-right: 57px;
// }

