#footer {
    color: #fff;
    color: #999;
    display: block;
    font-size: 0.65em;
    position: fixed;
    right: -500px;
    bottom: 15px;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    text-transform: uppercase;
    text-align: left;
    width: 501px;

    span {
        display: inline-block;
        padding: 0 7px;
    }

    a {
        color: #999;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            color: #fff;
            text-decoration: underline;
        }

        
    }
}

#app.app-scroll {
    #footer {
        bottom: 53px;
    }
}