// Header "Sidewinder" (left handed)

#header {
    width: 500px;
    display: block;
    position: fixed;
    left: 10px;
    top: 0px;
    transform: rotate(90deg);
    transform-origin: bottom left;
    text-align: left;
    text-transform: uppercase;
    z-index: 777;
    opacity: 0;

    // -webkit-transition: top left ease;
    //     -moz-transition: top left ease;
    //      -o-transition: top left ease;
    //         transition: top left ease;

    h1 {
        color: rgba(0,0,0,.35);
        display: inline-block;
        font-size: 2.639rem; 
        line-height: normal;
        margin: 0 11px 0 0;
        padding: 0;
        -webkit-text-stroke: 1px #fff;
        -webkit-box-reflect: below -18px linear-gradient(transparent,#0005);
        transition: .5s;

        a {
            display: inline-block;
            text-decoration: none;
            color: rgba(0,0,0,.35);
            -webkit-text-stroke: 1px #fff;
            -webkit-box-reflect: below -3px linear-gradient(transparent,#0005);
            transition: 0.5s;

            &:hover, 
            &:active,
            &:focus {
                text-decoration: none;
                //text-shadow:1px 1px 1px rgba(255,0,255,.69);//, 1px 1px 1px #ccc;
                filter: drop-shadow(-3px -3px 5px rgba(255,0,255,1))
                        drop-shadow(5px 5px 10px rgba(255,0,255,.88));
                        //drop-shadow(15px 15px 15px rgba(255,0,255,.5));
            }
        }

        span {
            color: #777;
            display: inline-block;
            font-size: 1.111rem;
            line-height: normal;
            margin: 0;
            padding: 0;
            -webkit-text-stroke: 0;
            -webkit-box-reflect: below -12px linear-gradient(transparent,#0005);
    
            // -webkit-transition: font-size .5s;
            // -moz-transition: font-size .5s;
            //  -o-transition: font-size .5s;
            //     transition: font-size .5s;
        }
    }

}


// Mobile
@media only screen and (max-width: 639px) {
    #header {
        left: 5px;

        h1 {
            font-size: 2.153rem; 

            span {
                font-size: 0.88rem;
            }
        }
    }
}
