// Masthead

#masthead {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: 1.53s;

    #outro-outerlooper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        opacity: 0;
    
        p {
            position: relative;
            // font-size: 13vw;
            font-size: 88px;
            letter-spacing: -2px;
            text-transform: uppercase;
            font-weight: 900;
            margin: 0;
            padding: 0;
            color: #111;
            color: #fff;
            -webkit-text-stroke: 1px #ccc;
            -webkit-box-reflect: below -35px linear-gradient(transparent,#0005);
            // color: #fff;
            // filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.3))
            // drop-shadow(5px 5px 5px rgba(0,0,0,0.2))
            // drop-shadow(15px 15px 15px rgba(0,0,0,0.1));
            

            &::before {
                content: 'Outerlooper';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                color: #111;
                animation: animate-logo-wave 8s ease-in-out infinite;
            }
        }
    }

    #outro-was-here {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        opacity: 0;

        p {
            text-transform: uppercase;
            font-size: 35px;
            font-weight: 900;
            font-style: italic;
            letter-spacing: 1px;
            transform: translateY(77px) rotate(-8deg);
            // color: magenta;
            // border-top: 3px solid magenta;
            // border-bottom: 3px solid magenta;
            color: #ddd;
            border-top: 3px solid #ddd;
            border-bottom: 3px solid #ddd;
        }
    }


    &.yin {
        background: #000;
    }

    &.yang {
        background: #fff;
    }

    &.sticky {
        height: 56px;
        //background: transparent;

        #outro-outerlooper {
            justify-content: left;
            // align-items: left;

            p {
                font-size: 35px;
                letter-spacing: 0;
            }
        }

        // #outro-was-here {
        //     p {

        //     }
        // }
    }



    @media only screen and (max-width: 666px) {
        #flower-of-life img.flower-of-life {
            height: calc(100vh);
        }
        #michaels-tree svg {
            margin-top: 22px;
            margin-left: -42%;
            width: 188vw;
        }
        #paper-plane #paper-plane-svg {
            max-width: 3.53em;
            top: 53; //?
        }
        #outro-outerlooper {
            p {
                font-size: 77px;
                -webkit-box-reflect: below -29px linear-gradient(transparent,#0005);
            }
        }
        #outro-was-here {
            p {
                font-size: 26px;
                transform: translateY(69px) rotate(-8deg);
            }
        }
    }

    @media only screen and (max-width: 555px) {
        #flower-of-life img.flower-of-life {
            height: calc(100vh);
        }
        #michaels-tree svg {
            margin-top: 22px;
            margin-left: -42%;
            width: 188vw;
        }
        #paper-plane #paper-plane-svg {
            max-width: 3.53em;
            top: 53; //?
        }
        #outro-outerlooper {
            p {
                font-size: 66px;
                -webkit-box-reflect: below -26px linear-gradient(transparent,#0005);
            }
        }
        #outro-was-here {
            p {
                font-size: 22px;
                transform: translateY(69px) rotate(-8deg);
            }
        }
    }

    @media only screen and (max-width: 456px) {
        #flower-of-life img.flower-of-life {
            height: calc(100vh);
        }
        #michaels-tree svg {
            margin-top: 22px;
            margin-left: -42%;
            width: 188vw;
        }
        #paper-plane #paper-plane-svg {
            max-width: 3.53em;
            top: 53; //?
        }
        #outro-outerlooper {
            p {
                font-size: 14vw;
                -webkit-box-reflect: below -18px linear-gradient(transparent,#0005);
            }
        }
        #outro-was-here {
            p {
                font-size: 22px;
                transform: translateY(60px) rotate(-8deg);
            }
        }
    }


} // end #masthead

@keyframes animate-logo-wave
{
    0%, 100%
    {
        clip-path: polygon(0% 48%, 13% 46%, 27% 51%, 40% 62%, 59% 67%, 80% 65%, 100% 57%, 100% 100%, 0 100%);
    }
    50%
    {
        clip-path: polygon(0 60%, 13% 62%, 28% 61%, 44% 55%, 63% 49%, 84% 45%, 100% 52%, 100% 100%, 0 100%);
    }
}






// #masthead {
//     display: block;
//     //margin: 111px auto 0 auto;
//     margin: 123px auto 33px;
//     max-height: 100vh;
//     width: 100%;
//     overflow: hidden;
//     position: relative;
//     //top: -111px;
//     //background: red;
    
//     img {
//         margin: 0 auto;
//         margin-left: -50%;
//         position: relative;
//         top: 0;
//         width: 200%;
//         max-width: 200%;
//     }

//     svg {
//         margin-left: -35%;
//         width: 169vw;
//     }
// }

// @media only screen and (min-width: 777px) {
//     #masthead {
//         margin: 77px auto;
//         margin: 33px auto;
        

//         img {
//             margin-left: -15%;
//             width: 133%;
//             max-width: 133%;
//         }

//         svg {
//             margin-left: 0;
//             width: 100vw;
//         }
//     }
// }

// @media only screen and (min-width: 963px) {
//     #masthead {
//         margin: 0 auto;
//         text-align: center;
        
//         img {
//             width: 100%;
//             margin-left: 0;
//             max-height: 100vh;
//         }

//         svg {
//             width: 100vw;
//             height: 100vh;
//         }
//     }
// }