// Masthead

#masthead {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: .5321s;

    &.yin {
        background: #000;
    }

    &.yang {
        background: #fff;
    }

    &.sticky {
        height: 80px;
    }
}


// #masthead {
//     display: block;
//     //margin: 111px auto 0 auto;
//     margin: 123px auto 33px;
//     max-height: 100vh;
//     width: 100%;
//     overflow: hidden;
//     position: relative;
//     //top: -111px;
//     //background: red;
    
//     img {
//         margin: 0 auto;
//         margin-left: -50%;
//         position: relative;
//         top: 0;
//         width: 200%;
//         max-width: 200%;
//     }

//     svg {
//         margin-left: -35%;
//         width: 169vw;
//     }
// }

// @media only screen and (min-width: 777px) {
//     #masthead {
//         margin: 77px auto;
//         margin: 33px auto;
        

//         img {
//             margin-left: -15%;
//             width: 133%;
//             max-width: 133%;
//         }

//         svg {
//             margin-left: 0;
//             width: 100vw;
//         }
//     }
// }

// @media only screen and (min-width: 963px) {
//     #masthead {
//         margin: 0 auto;
//         text-align: center;
        
//         img {
//             width: 100%;
//             margin-left: 0;
//             max-height: 100vh;
//         }

//         svg {
//             width: 100vw;
//             height: 100vh;
//         }
//     }
// }