#nav-works {
    text-align: right;
    position: fixed;
    top: 135px;
    right: 0;
    z-index: 1;

    // fdde-out mixin
    // *applied to links for keyboard nav
    &.nav-works-top {
        a {
            opacity: 0;
            animation-name: fadeOutOpacity;
            animation-iteration-count: 1;
            //animation-timing-function: ease-in;
            animation-duration: 1s;
        }
    }

    // fade-in mixin
    // *applied to links for keyboard nav
    &.nav-works-scroll {
        a {
            opacity: 1;
            animation-name: fadeInOpacity;
            animation-iteration-count: 1;
            //animation-timing-function: ease-in;
            animation-duration: 1s;
        }
    }

    a {
        background-color: transparent;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        color: #fff;
        display: block;
        padding: 6px 6px 6px 12px;
        transition: background-color 0.5s ease;

        i {
            font-size: 1.35em;
        }

        .label {
            display: inline-block;
            overflow: hidden;
            max-width: 0;
            margin-right: 0;
            white-space: nowrap;
            vertical-align: middle;
            transition: max-width 0.5s;
        }

        .separator {
            display: inline-block;
            width: 0;
            transition: width 0.1s;
            transition-delay: 0.5s;
        }

        &:focus {
            opacity: 1; // for keyboard nav
        }

        &:hover,
        &:focus {
            background-color: rgba(0,0,0,0.8);
            text-decoration: none;
            text-shadow: 1px 1px 15px magenta, 1px 1px 15px #ccc;

            .label {
                max-width: 333px;
                margin-right: 33px;
                transition-delay: 0.1s;
            }

            .separator {
                width: 0.3em;
                transition-delay: unset;
            }
        }
    }
}