// MyTree SVG
#masthead {
    display: block;
    margin: 111px auto 0 auto;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    
    img {
        margin-left: -50%;
        width: 200%;
        // box-shadow: 120px 80px 40px 20px #0ff;
    }
}

@media only screen and (min-width: 777px) {
    #masthead {
        margin: 77px auto;
        

        img {
            margin-left: -15%;
            width: 133%;
        }
    }
}

@media only screen and (min-width: 963px) {
    #masthead {
        margin: 0 auto;
        
        img {
            width: 100%;
            margin-left: 0;
            max-height: 100vh;
        }
    }
}