.section.crown {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec008c+0,ec008c+33,ec008c+44,ec008c+100&0+0,0.21+33,0.21+44,0+100 */
    background: -moz-linear-gradient(top,  rgba(236,0,140,0) 0%, rgba(236,0,140,0.15) 33%, rgba(236,0,140,0.15) 44%, rgba(236,0,140,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(236,0,140,0) 0%,rgba(236,0,140,0.15) 33%,rgba(236,0,140,0.15) 44%,rgba(236,0,140,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(236,0,140,0) 0%,rgba(236,0,140,0.15) 33%,rgba(236,0,140,0.15) 44%,rgba(236,0,140,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ec008c', endColorstr='#00ec008c',GradientType=0 ); /* IE6-9 */

    h2 {
        
    }

    &.diagonal {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec008c+0,ec008c+33,ec008c+44,ec008c+100&0+0,0.21+33,0.21+44,0+100 */
        background: -moz-linear-gradient(-45deg,  rgba(236,0,140,0) 0%, rgba(236,0,140,0.21) 33%, rgba(236,0,140,0.21) 44%, rgba(236,0,140,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(-45deg,  rgba(236,0,140,0) 0%,rgba(236,0,140,0.21) 33%,rgba(236,0,140,0.21) 44%,rgba(236,0,140,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(135deg,  rgba(236,0,140,0) 0%,rgba(236,0,140,0.21) 33%,rgba(236,0,140,0.21) 44%,rgba(236,0,140,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ec008c', endColorstr='#00ec008c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    
    &.radial {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec008c+0,ec008c+88,ec008c+100&0.15+0,0+88,0+100 */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(236,0,140,0.15) 0%, rgba(236,0,140,0) 88%, rgba(236,0,140,0) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(236,0,140,0.15) 0%,rgba(236,0,140,0) 88%,rgba(236,0,140,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(236,0,140,0.15) 0%,rgba(236,0,140,0) 88%,rgba(236,0,140,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#26ec008c', endColorstr='#00ec008c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    &.radial-halo {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ec008c+0,ec008c+77,ec008c+100&0+0,0.21+77,0.15+100 */
        background: -moz-radial-gradient(center, ellipse cover,  rgba(236,0,140,0) 0%, rgba(236,0,140,0.21) 77%, rgba(236,0,140,0.15) 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  rgba(236,0,140,0) 0%,rgba(236,0,140,0.21) 77%,rgba(236,0,140,0.15) 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  rgba(236,0,140,0) 0%,rgba(236,0,140,0.21) 77%,rgba(236,0,140,0.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ec008c', endColorstr='#26ec008c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}