.section.throat {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3953a4+0,3953a4+33,3953a4+44,3953a4+100&0+0,0.21+33,0.21+44,0+100 */
    // background: -moz-linear-gradient(top,  rgba(57,83,164,0) 0%, rgba(57,83,164,0.21) 33%, rgba(57,83,164,0.21) 44%, rgba(57,83,164,0) 100%); /* FF3.6-15 */
    // background: -webkit-linear-gradient(top,  rgba(57,83,164,0) 0%,rgba(57,83,164,0.21) 33%,rgba(57,83,164,0.21) 44%,rgba(57,83,164,0) 100%); /* Chrome10-25,Safari5.1-6 */
    // background: linear-gradient(to bottom,  rgba(57,83,164,0) 0%,rgba(57,83,164,0.21) 33%,rgba(57,83,164,0.21) 44%,rgba(57,83,164,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003953a4', endColorstr='#003953a4',GradientType=0 ); /* IE6-9 */

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#005ff9+0,005ff9+33,005ff9+44,005ff9+100&0+0,0.21+33,0.21+44,0+100 */
    background: -moz-linear-gradient(top,  rgba(0,95,249,0) 0%, rgba(0,95,249,0.15) 33%, rgba(0,95,249,0.15) 44%, rgba(0,95,249,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,95,249,0) 0%,rgba(0,95,249,0.15) 33%,rgba(0,95,249,0.15) 44%,rgba(0,95,249,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,95,249,0) 0%,rgba(0,95,249,0.15) 33%,rgba(0,95,249,0.15) 44%,rgba(0,95,249,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00005ff9', endColorstr='#00005ff9',GradientType=0 ); /* IE6-9 */

    &.diagonal {

    }

    &.radial {

    }

    &.radial-halo {
        
    }

    h2 {

    }
}