// Five Bar Transition

.transition__five-bar {
    position:absolute;
    left:0;
    bottom:0;
    //z-index:777;
    height: 100vh;
    width: 100vw;
    display: flex;

    .bar {
        background-color: white;
        position: relative;
        height:100vh;
        width:20%;
    }
}